:root {
    --heading-color: #012f63;
    /* --backgroung--color: #012F63; */
    --text--clolor: #FE667B;
    --footer-color: #CBF1F5;
    --backgroung--color: #A6E3E9;
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
}

.tittle {
    color: var(--heading-color);
    font-size: 40px;
    font-weight: bold;
}

.tittle:hover {
    transform: rotate(7deg);
    transition-duration: .5s;
}


/* start landing  */

.landing {
    width: 100%;
    height: 0;
    position: relative;
    margin-bottom: 50px;
    /*text-align: center;*/
    padding-bottom: 49.3%;
}

.landing img {
    width: 100%;
    object-fit: cover;
}

.footer-back-color {
    background-color: var(--footer-color);
}

.text-Landing {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 29px;
    color: #522A08;
    font-weight: bolder;
    font-style: italic;
    text-align: center;
}

.s-heading {
    color: #4177ab;
    font-size: 90px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin-left: 500px;
    margin-bottom: 50px;
}

@media(max-width:300px) {
    .s-heading {
        font-size: 40px;
        margin-left: 60px;
    }
    .c-heading {
        font-size: 40px !important;
        margin-left: 40px !important;
    }
}

@media(min-width:301px) and (max-width:514px) {
    .s-heading {
        font-size: 60px;
        margin-left: 100px;
    }
    .c-heading {
        font-size: 60px !important;
        margin-left: 100px !important;
    }
}

@media (min-width:515px) and (max-width:676px) {
    .s-heading {
        font-size: 60px;
        margin-left: 170px;
    }
    .c-heading {
        font-size: 60px !important;
        margin-left: 170px !important;
    }
}

@media (min-width:677px) and (max-width:900px) {
    .s-heading {
        margin-left: 190px;
    }
    .c-heading {
        margin-left: 230px !important;
    }
}

@media (min-width:901px) and (max-width:998px) {
    .s-heading {
        margin-left: 325px;
    }
    .c-heading {
        margin-left: 290px !important;
    }
}

@media (min-width:999px) and (max-width:1115px) {
    .s-heading {
        margin-left: 345px;
    }
    .c-heading {
        margin-left: 320px !important;
    }
}

.opreation {
    font-size: 40px;
    margin-left: 400px;
}


/* end landing  */

.navbar .active:hover {
    color: black;
}


/* start services */

@media (max-width: 767px) {
    .customize-mobile {
        margin-left: 12px;
        width: 93%;
    }
}

.customize-mobile {
    cursor: pointer;
}

.rounding {
    animation-name: rotating;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

.rounding:hover {
    animation-play-state: paused;
}

@keyframes rotating {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* end services */

.resize-img {
    width: 200px;
    height: 200px;
}

.ok {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.resize-img:hover {
    border: 1px solid blue;
    transition-duration: .3s;
    cursor: pointer;
    border-radius: 7px;
}

.c-heading {
    color: #4177ab;
    font-size: 90px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin-left: 480px;
    margin-bottom: 50px;
}

.para-modifing {
    background-color: var(--backgroung--color);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
    color: white;
}

.hover-box {
    width: 50%;
    height: 100%;
    border: 2px solid #FFF;
    margin: 30px auto;
    position: relative;
    overflow: hidden;
}

.hover-box h3 {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 5px 8px;
    margin: 0;
    border-top: 2px solid #FFF;
    border-right: 2px solid #FFF;
    color: #FFF;
    font-size: 16px;
    background-color: #333;
    transform: translate(0, 100%);
    transition: .4s;
}

.hover-box img {
    width: 100%;
    height: 100%;
}

.hover-box:hover h3 {
    transform: translate(0, 0);
    transition: .4s;
}

.hover-box:hover img {
    opacity: .5;
    transition: .4s;
}

.para-modifing p {
    margin: 0;
}

.slider-resizing {
    width: 1427px;
    height: 400px;
}

a {
    text-decoration: none;
    color: black;
}

#contact .aroww ul {
    list-style-type: ">";
}

::marker {
    font-size: 16px;
}

#contact .aroww ul li a:hover {
    padding-left: 20px;
    transition-duration: 1s;
}

#contact .aroww ul a {
    margin-left: 5px;
}

#contact ul li img {
    width: 20px;
    height: auto;
}

#contact ul li img:hover {
    transform: rotate(20deg);
    transition-duration: .7s;
    ;
}

.op-3 {
    opacity: .3;
}

#contact>p {
    padding: 0;
    margin: 0;
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
}